body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

img {
    height: 200px;
}

nav {
    border-bottom: solid black;
    padding: 16px;
    background-color: rgb(233, 24, 24);
    color: white;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    background-color: rgb(164, 201, 31);
}


a {
    color: green;
    text-decoration: none;
}

a:visited{
    color: #060235
}

h1 {
    color: darkgreen
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.is-white {
    color: white;
}

table.is-gray tbody tr:nth-child(even) {
    background-color: lightgray;
}
